{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>{% block titre %} {% endblock %}</title>
  </head>
  
  <body>

    <script>

      function assombrir(id) {
        id = "'" + id + "'";
        if(document.getElementById(id).style.lineHeight == "600%") {
          document.getElementById(id).style.lineHeight = "150%";
          document.getElementById(id).style.borderTop = "0em solid transparent";
          document.getElementById(id).style.borderBottom = "0em solid transparent";
          document.getElementById(id).style.animation = "hue 1s infinite alternate";
        }
        else {
          document.getElementById(id).style.lineHeight = "600%";
          document.getElementById(id).style.borderTop = ".2em solid var(--black)";
          document.getElementById(id).style.borderBottom = ".2em solid var(--black)";
          document.getElementById(id).style.animation = "none !important";
        }
      }

    </script>

    <div style="height: auto;width: 100%;margin-left:auto;margin-right:auto;max-width:1350px;">
    
      {% block h1 %} {% endblock %}
    
      {% block contenu %} {% endblock %}
    
    </div>

  </body>
</html>